{% extends 'base.html.twig' %}

{% block body %}

        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">New Product</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form) }}
            <div class="box-body">
                <div class="form-group">
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success" value="Create" />
                        <a class="btn btn-primary" href="{{ path('product_index') }}"><i class="fa fa-repeat"></i>Back to the list</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
{% endblock %}
